@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html,body{
	display: grid;
	height: 100%;
	width: 100vw;
	place-items: center;
	animation: change 10s infinite;
}


@keyframes change{
	0%{background-color: #085b0e;}
	25%{background-color: #417b41;}	
	50%{background-color: #085b0e;}	
	75%{background-color: #417b41;}
	100%{background-color: #085b0e;}
}

.header{
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	line-height: 60px;
	width: 400px;
	border-radius: 15px 15px 15px 15px;
	background: linear-gradient(90deg, #788d69, #788d69);
}

.wr{
	width: 400px;
	background: #fff;
	border-radius: 15px;
	border-width: 3px;
	box-shadow:50px 50px 50pc #6a964a;
}

.wr .title{
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	line-height: 100px;
	border-radius: 15px 15px 0px 0px;
	background: linear-gradient(90deg, #788d69, #788d69);
}

.wr form{
	padding: 10px 30px 80px 30px;
}

.wr form .field{
	position: relative;
	height: 50px;
	width: 100%;
	margin-top: 20px;
}

.wr form .field input{
	height: 100%;
	width: 100%;
	padding-left: 20px;
	border-radius: 25px;
	outline: none;
	font-size: 16px;
	border: 3px solid lightrey;
	transition: all 0.3s ease;
}

.wr form .field input:focus,
.wr form .field input:valid{
	border-color: 4158d0;
}

.wr form .field label{
	position: absolute;
	top: 50%;
	left: 20px;
	font-size: 17px;
	color: #999;
	transform: translateY(-50%);
	pointer-events: none;
	transition: all 0.3s ease;
}
.wr form .field input:focus ~ label,
.wr form .field input:valid ~ label{
	top: 0%;
	color: #1ce83b;
	font-size: 16px;
	background: #fff;
	transform: translateY(-50%);
}

.wr form .field input[type="submit"]{
	color: #fff;
	background: linear-gradient(90deg, #788d69, #788d69);
	font-size: 18px;
	font-weight: 500;
	border: none;
	padding-left: 0px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.wr form .field input [type = "submit"]:active{
	transform: scale(0.95);
}



.wr form .check-wrap a{
	color: #1ce83b;
	float: right;
	text-decoration: none;
}

.wr form .pass-link,
.wr form .signup-link{
	color: #1ce83b;
	margin: 8px 0 0 10px;
	
}

.wr form .signup-link{
	color: #1ce83b;
	text-align: center;
	margin-top: 20px;
	color: #262626;
}

.wr form .pass-link a,
.wr form .signup-link a{
	color: #1ce83b;
	text-decoration: none;
}

.wr form .pass-link a:hover,
.wr form .signup-link a:hover{
	text-decoration: underline;
}